In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataframe=pd.read_csv('/home/praveen/backup/desktop content/ML datasets/spam.csv')

In [3]:
dataframe.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
dataframe['Label']=dataframe['Label'].apply(lambda x:1 if x=='spam' else 0)

In [5]:
dataframe.head()

   Label                                          EmailText
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [6]:
dataframe.isnull().any()

Label        False
EmailText    False
dtype: bool

In [7]:
dataframe['Label'].value_counts()

0    4825
1     747
Name: Label, dtype: int64

In [8]:
dataframe.describe(include='all')

              Label               EmailText
count   5572.000000                    5572
unique          NaN                    5169
top             NaN  Sorry, I'll call later
freq            NaN                      30
mean       0.134063                     NaN
std        0.340751                     NaN
min        0.000000                     NaN
25%        0.000000                     NaN
50%        0.000000                     NaN
75%        0.000000                     NaN
max        1.000000                     NaN

In [9]:
spam=dataframe[dataframe['Label']==1]

In [10]:
spam.shape

(747, 2)

In [11]:
ham=dataframe[dataframe['Label']==0]

In [12]:
ham.shape

(4825, 2)

In [13]:
spam.head()

    Label                                          EmailText
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
5       1  FreeMsg Hey there darling it's been 3 week's n...
8       1  WINNER!! As a valued network customer you have...
9       1  Had your mobile 11 months or more? U R entitle...
11      1  SIX chances to win CASH! From 100 to 20,000 po...

In [14]:
ham.head()

   Label                                          EmailText
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
6      0  Even my brother is not like to speak with me. ...

In [15]:
spam_train=spam[:500]

In [16]:
ham_train=ham[:750]

In [17]:
train=pd.concat([spam_train,ham_train])

In [18]:
train.shape

(1250, 2)

In [19]:
train.head()

    Label                                          EmailText
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
5       1  FreeMsg Hey there darling it's been 3 week's n...
8       1  WINNER!! As a valued network customer you have...
9       1  Had your mobile 11 months or more? U R entitle...
11      1  SIX chances to win CASH! From 100 to 20,000 po...

In [20]:
train=train.sample(frac=1).reset_index(drop=True)

In [21]:
spam_test=spam[500:]
ham_test=ham[750:]

In [22]:
test=pd.concat([spam_test,ham_test])

In [23]:
test=test.sample(frac=1).reset_index(drop=True)

In [24]:
train.head()

   Label                                          EmailText
0      0  LOOK AT AMY URE A BEAUTIFUL, INTELLIGENT WOMAN...
1      1  For ur chance to win a Ã¥Â£250 wkly shopping s...
2      0  Good evening Sir, Al Salam Wahleykkum.sharing ...
3      1  FreeMsg: Fancy a flirt? Reply DATE now & join ...
4      1  Hi its LUCY Hubby at meetins all day Fri & I w...

In [25]:
test.head(10)

   Label                                          EmailText
0      0  Today is \song dedicated day..\" Which song wi...
1      0  HIYA STU WOT U UP 2.IM IN SO MUCH TRUBLE AT HO...
2      0  No i'm not gonna be able to. || too late notic...
3      0    God bless.get good sleep my dear...i will pray!
4      0  IM FINE BABES AINT BEEN UP 2 MUCH THO! SAW SCA...
5      0                Still i have not checked it da. . .
6      0  I could ask carlos if we could get more if any...
7      0  Jus finish blowing my hair. U finish dinner al...
8      1  U 447801259231 have a secret admirer who is lo...
9      0  Let Ur Heart Be Ur Compass Ur Mind Ur Map Ur S...

In [26]:
train['Label'].value_counts()

0    750
1    500
Name: Label, dtype: int64

In [27]:
test['Label'].value_counts()

0    4075
1     247
Name: Label, dtype: int64

In [28]:
train.shape

(1250, 2)

In [29]:
test.shape

(4322, 2)

In [30]:
x_train=train['EmailText']

In [31]:
x_test=test['EmailText']

In [32]:
y_train=train['Label']

In [33]:
y_test=test['Label']

In [34]:
x_train.head()

0    LOOK AT AMY URE A BEAUTIFUL, INTELLIGENT WOMAN...
1    For ur chance to win a Ã¥Â£250 wkly shopping s...
2    Good evening Sir, Al Salam Wahleykkum.sharing ...
3    FreeMsg: Fancy a flirt? Reply DATE now & join ...
4    Hi its LUCY Hubby at meetins all day Fri & I w...
Name: EmailText, dtype: object

In [35]:
y_train.head()

0    0
1    1
2    0
3    1
4    1
Name: Label, dtype: int64

In [36]:
x_test.head()

0    Today is \song dedicated day..\" Which song wi...
1    HIYA STU WOT U UP 2.IM IN SO MUCH TRUBLE AT HO...
2    No i'm not gonna be able to. || too late notic...
3      God bless.get good sleep my dear...i will pray!
4    IM FINE BABES AINT BEEN UP 2 MUCH THO! SAW SCA...
Name: EmailText, dtype: object

In [37]:
y_test.head()

0    0
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

In [39]:
cv=CountVectorizer()

In [40]:
features=cv.fit_transform(x_train)

In [41]:
test_features=cv.transform(x_test)

In [42]:
from sklearn import svm

In [43]:
model=svm.SVC()

In [44]:
model.fit(features,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [45]:
print("accuracy of svm model is ",model.score(test_features,y_test))

accuracy of svm model is  0.9752429430819065

In [46]:
from sklearn.metrics import classification_report,confusion_matrix

In [47]:
print(classification_report(y_test,model.predict(test_features)))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      4075
           1       0.73      0.91      0.81       247

    accuracy                           0.98      4322
   macro avg       0.86      0.95      0.90      4322
weighted avg       0.98      0.98      0.98      4322

In [48]:
confusion_matrix(y_test,model.predict(test_features))

array([[3990,   85],
       [  22,  225]])

In [49]:
from sklearn.model_selection import GridSearchCV

In [50]:
tuned_parameters={'kernel':['linear','rbf'],
    'gamma':[1e-3,1e-4],
    'C':[1,10,100,1000]
    
}

In [51]:
model2=GridSearchCV(svm.SVC(),tuned_parameters)

In [52]:
model2.fit(features,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001],
                         'kernel': ['linear', 'rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [53]:
print("accuracy of svm model is ",model2.score(test_features,y_test))

accuracy of svm model is  0.983803794539565

In [54]:
print(classification_report(y_test,model2.predict(test_features)))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4075
           1       0.82      0.91      0.87       247

    accuracy                           0.98      4322
   macro avg       0.91      0.95      0.93      4322
weighted avg       0.98      0.98      0.98      4322

In [55]:
confusion_matrix(y_test,model2.predict(test_features))

array([[4027,   48],
       [  22,  225]])